@page "/"
@*@page "/{LastProductId}"
*@@*@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage;
@inject ProtectedSessionStorage ProtectedSessionStorage;*@

<h3>Product Avaliable</h3>

<input @bind="searchText" placeholder="Search">
<button @onclick="Search">Search</button>

@if (ProductsLoading)
{
    
    <h3> Loading your products... </h3>
}else
{

    if (!String.IsNullOrEmpty(ErrorMessage))
    {

        <p>@ErrorMessage</p>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Rank</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in displayedProducts)
                {
                    <tr>
                        <td>@product.Name</td>
                        <td>@product.Category</td>
                        <td>@product.Rank</td>
                    </tr>
                }
            </tbody>
        </table>
         <p><input @bind="LastProductId" /></p>
         <p> Pages @currentPage / @totalPages </p>

    }

    <button @onclick="PreviousOnClick">Previous</button>
    <button @onclick="NextOnClick">Next</button>


}
