@using WebSite.Basket.Services;
@inject BasketServiceClient basketServiceClient

<div class="product-quantity-input">
    @CurrentQuantity
    <input type="number" @bind-value="Quantity" max="999" min="0" />
    <button @onclick="PersistQuantity">Update Basket</button>
</div>